h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_5aa64af4 a { text-decoration: none; }
#menu_5aa64af4_pane { background-color: #93A848; border: 1px solid #93A848; padding-top: 20px; padding-bottom: 20px; border-radius: 15px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_5aa64af4_hr { background-color: #93A848; height: 1px; border: none; }
#menu_5aa64af4_entry { padding-left: 20px; padding-right: 20px; padding-top: 3px; padding-bottom: 3px; }
#menu_5aa64af4_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_5aa64af4_entry:hover span { color:#FFFFFF !important; }
		.menu_5aa64af4_mainMenuEntry { text-align: center; }
		.menu_5aa64af4_mainMenuEntry:hover {	background-color:#C5D149; }
		.menu_5aa64af4_mainMenuEntry:hover span {	color:#B67615 !important; }
		#menu_5aa64af4 .mobileEntry { display: none; } 
		#menu_5aa64af4 .normalEntry { display: block; } 
		#menu_5aa64af4_menualignmentwrapper{ width:980px; left: calc(50% - 490px);  } 
		@media only screen and (max-width:600px) { 
			#menu_5aa64af4 .mobileEntry { display: block; } 
			#menu_5aa64af4 .normalEntry { display: none; } 
			#menu_5aa64af4_menualignmentwrapper { width:56px; left: calc(50% - 28px);  } 
		}
#gallery_17187d9f div.galleryimgcontainer { box-sizing: border-box; vertical-align: middle; display: inline-block; width: 33%; height: auto; padding: 10px;  } 
#gallery_17187d9f div.galleryimgcontainer img {  width: 100%;  height: auto;  } 
@media only screen and (max-width:520px) { #gallery_17187d9f div.galleryimgcontainer { width: 50%; } } 
@media only screen and (max-width:420px) { #gallery_17187d9f div.galleryimgcontainer { width: 100%; } } 
body { background-color:#FBFCDA; border-top: 20px solid #EBA456; border-left: 20px dashed #EBA456; border-right: 20px dashed #EBA456; border-bottom: 20px dashed #EBA456; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
.textstyle2 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#menu_5aa64af4 { box-sizing: border-box; vertical-align: bottom; border-radius: 15px; position:relative; display: inline-block; width:97%; height:47px; min-width:800px; text-align:left; background-color:#93A848; background: linear-gradient(to bottom, #93A848, #93A848); border: 0px solid #93A848;  }
#menu_5aa64af4_menualignmentwrapper { position: relative; overflow: visible; height: 100%; }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:56px; height:47px; left:0px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:32px;  }
.textstyle3 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:107px; height:47px; left:0px;  }
.textstyle4 { font-size:22pt; font-family:'Courier New', Courier, monospace; color:#6A2807; font-weight:bold;  white-space: nowrap; }
.menustyle3 { position:absolute; width:141px; height:47px; left:107px;  }
.menustyle4 { position:absolute; width:242px; height:47px; left:248px;  }
.menustyle5 { position:absolute; width:208px; height:47px; left:490px;  }
.menustyle6 { position:absolute; width:124px; height:47px; left:698px;  }
.menustyle7 { position:absolute; width:158px; height:47px; left:822px;  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
#heading_53410e57 { vertical-align: bottom; position:relative; display: inline-block; width:1005px; background:none; font-size:72pt; font-family:'American Typewriter'; color:#B67615; text-align:center;  }
.textstyle6 { text-align:left; }
#shapedivider_6e474205 { vertical-align: top; position:relative; display: inline-block; width:61%; min-height:44px; background:none;  }
#shapedivider_6e474205_padding { margin: 10px; display: block; position: relative;  }
#img_3c8710b2 { vertical-align: bottom; position:relative; display: inline-block; width:61%; background:none; height:auto;  }
#gallery_17187d9f { overflow:hidden; vertical-align: bottom; position:relative; display: inline-block; width:63%; min-height:296px;  }
.textstyle7 { font-size:15pt; font-family:'Courier New', Courier, monospace; color:#6A2807;  }
#heading_2ced744a { vertical-align: bottom; position:relative; display: inline-block; width:900px; background:none;  }
.textstyle8 { text-align:left;display: block }
.textstyle9 { font-size:15pt; font-family:'Courier New', Courier, monospace; color:#6A2807; font-weight:bold;  }
.textstyle10 { font-size:12pt; font-family:'Courier New', Courier, monospace; color:#6A2807;  }
#shapedivider_146da33e { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:48px; background:none;  }
#shapedivider_146da33e_padding { margin: 10px; display: block; position: relative;  }
.textstyle11 { font-size:18pt; font-family:'Courier New', Courier, monospace; color:#6A2807;  }
